<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <h2 id="mainTitle"></h2>
        <!-- ? titulo principal -->
        <div class="container-fluid">
            <div class="row py-4">
                <h3 class="fw-bold"><i class="bi bi-tools"></i>Solicitud de herramientas</h3>
                <h6 class="fw-medium text-secondary">Solicite herramientas.<br>
                    Añada herramientas que necesite reposición, quedara historial de cada material agregado
                </h6>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12">
                <div class="row justify-content-center g-4 px-2">
                    <!-- Added g-4 for gap, py-3 for vertical padding, px-2 for horizontal padding -->
                    <div class="col-auto"> <!-- Changed to col-auto for automatic width based on content -->
                        <button type="button" class="py-4 btn btn-success disabled" onclick="fillTable(null, 1)"
                            id="botonGeneral">
                            <h5 class="mb-0">Ver todas las categorías</h5>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="py-4 btn btn-secondary" onclick="fillTable(null, 2)"
                            id="botonManualLigera">
                            <h5 class="mb-0"><i class="bi bi-wrench"></i> Manual ligera</h5>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="py-4 btn btn-secondary" onclick="fillTable(null, 3)"
                            id="botonManualPesada">
                            <h5 class="mb-0"><i class="bi bi-hammer"></i> Manual pesada</h5>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="py-4 btn btn-secondary" onclick="fillTable(null, 4)"
                            id="botonElectrica">
                            <h5 class="mb-0"><i class="bi bi-lightning-charge-fill"></i> Eléctrica</h5>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="py-4 btn btn-secondary" onclick="fillTable(null, 5)"
                            id="botonEPP">
                            <h5 class="mb-0"><i class="bi bi-shield-shaded"></i> EPP (EQUIPO PROTECCIÓN PERSONAL)</h5>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- ? Formulario de búsqueda -->
        <div class="row">
            <form class="col-sm-12 col-md-12 col-lg-10" id="searchForm">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <input type="search" class="form-control custom-input border-2 fs-3" id="search" name="search"
                            placeholder="Buscador..." required>
                    </div>
                    <div class="col-lg-5 col-md-9 col-sm-9 d-flex flex-row align-items-center gap-2">
                        <!-- Grupo de botones -->
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success" onclick="resetearBotones()">
                                <h2>
                                    <i class="bi bi-search"></i> Buscar...
                                </h2>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- ? se escribe la cantidad de registros en la tabla -->
        <p id="rowsFound" class=" fw-bold mt-3"></p>
        <!-- Contenedor para la tabla con scroll-->
        <div class="container justify-content-center row">
            <div class="container mt-4">
                <div id="tableBody" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    <!-- Agrega más tarjetas según sea necesario -->
                </div>
            </div>
        </div>

        <!-- * modal de registro para agregar material a la requisición -->
        <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <form id="saveForm">
                        <div class="modal-header">
                            <h2 class="modal-title text-center">Agregar Herramienta</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body p-4">
                            <input type="number" class="d-none" name="idHerramienta" id="idHerramienta">
                            <!-- ? nombre de registro -->
                            <div class="mb-4 text-center">
                                <label class="form-label text-muted mb-2">Nombre de la herramienta</label>
                                <p class="fs-4 fw-bold text-primary" name="nombreHerramienta" id="nombreHerramienta">
                                </p>
                            </div>
                            <!-- ? descripción de registro -->
                            <div class="mb-4 text-center">
                                <p class="fw-light fs-5" id="descripcionHerramienta"></p>
                            </div>
                            <div class="mb-4">
                                <label for="cantidadHerramienta"
                                    class="form-label text-center d-block mb-3 fw-semibold">
                                    Ingrese la cantidad de herramientas que necesita repuesto
                                </label>
                                <!-- ? descripción de registro -->
                                <div class="input-group input-group-lg mx-auto" style="max-width: 300px;">
                                    <input type="number" class="form-control border-primary py-2"
                                        id="cantidadHerramienta" name="cantidadHerramienta" placeholder="0"
                                        aria-describedby="unidadHerramienta">
                                    <span class="input-group-text bg-primary text-white border-primary">Limite 2</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary px-4" data-bs-dismiss="modal">
                                <h2>Cancelar</h2>
                            </button>
                            <button type="submit" class="btn btn-primary px-4">
                                <h2>Guardar</h2>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- ? Llama al validador de textos -->
    <script src="../../controllers/utils/inputValidator.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script src="../../controllers/public/herramientas.js"></script>
    <!-- ! cambiar el link js para el controntrolador -->
</body>

</html>